.tracking-in-contract-bck{animation:tracking-in-contract-bck 1.5s cubic-bezier(.215,.61,.355,1.000) 1s both}
@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}



.scale{
    transition: all 1s;

.scale:hover{
transform: scale(1.25);
}
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}

    .input:focus{
        transform: scale(1.5, 1.5);
        margin-left: 110px          ;
      }