.carru{
    height: 25em;
    .carruColor{
        color: rgb(236, 241, 236);
    background-color: gray;
    opacity: 0.8;
    display: inline block;
    .carruColor1{
        display: inline block;
    }
    }
}