.carru{
    height: 25em;
    .carruColor{
        color:map-get($estilos , color ); 
    background-color: gray;
    opacity: 0.8;
    display: inline block;
    .carruColor1{
        display: inline block;
    }
    }
}