.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    background-image: map-get($estilos , colorPagina);
    height: 5em;
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
}
