$estilos:(
    color:aliceblue,
    tamaño-h1:4.2em,
    tamaño-h4:2.5em,
    colorPagina:linear-gradient( rgb(70, 113, 146), rgb(215, 217, 224)),
    colorLeyenda: darkcyan,
    bcimage-repa: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%),
    bc-repa:  #0093E9,

);
