.repa{
    background-image: radial-gradient( rgb(95, 137, 168), rgb(215, 217, 224));
    color: azure;
    text-shadow: 5px 5px 5px gray;
    padding: 10px;
    margin: 10px;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
}

.repa1{
    font-size: 2em;
    border: solid 1px black;
    padding: 10px;
    box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
-webkit-box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
-moz-box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.poto{
    height: 6.7em;
    box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
-webkit-box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
-moz-box-shadow: 11px 11px 11px -3px rgba(0,0,0,0.56);
}

.imleyend{
    font-size: 2em;
    border: solid 1px black;
    margin: 20px;
    padding: 10px;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

   
    box-shadow: 14px 20px 14px -6px rgba(0,0,0,0.53);
-webkit-box-shadow: 14px 20px 14px -6px rgba(0,0,0,0.53);
-moz-box-shadow: 14px 20px 14px -6px rgba(0,0,0,0.53);
}
.btnrepa{
    width: 90%;
    
}