.parrafo{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(241, 235, 235, 0.541);
    font-size: 2em;
    color: darkcyan;
    margin: 20px;
    padding: 20px;
}
